*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
}


/**HEADER*/ 
.navbar-brand img{
  width: 5rem;
}

/**CONTAINER*/
.container{
  height: calc(100vh - 55px);
}