*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
}


/**HEADER*/ 
.navbar-brand img{
  width: 5rem;
}

/**CONTAINER*/
.container{
  height: calc(100vh - 55px);
}
.imageBack{
  background-image: url(./img/Bergen\ view.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.imgPerson{
  width: 20rem;
}